{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url_shortener</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    <h1>URL SHORTENER</h1>

    <form id="user_url" method = "POST" action="http://localhost:8000/">
        {% csrf_token %}
        <label for="user_url">Enter URL to be shortened:</label><br>
        <input type="text" id="user_url" name="user_url" size=80><br>
        <input type="submit" value="Shorten it!">
    </form>
    
    <h3>{{ URLS }}</h3>
</body>
</html>