body {
    background-image: url(https://wallpaperaccess.com/full/1903844.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: fantasy;
    color: whitesmoke;
    font-size: 100px;
    text-align: center;
}

#choice {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#signIn {
    font-size: 20px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    background-color: rgb(10, 43, 53);
    color: whitesmoke;
    border-radius: 12px;
}