body {
    background-image: url(https://wallpaperaccess.com/full/1903844.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: 0px;
    /* display: inline-flex;
    flex-flow: row; */
    font-family: 'Germania One', serif;
    color: whitesmoke;
    font-size: 150px;
    text-align: center;
}

#header button {
    float: right;
}

#choice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    width: 800px;
}

#signIn {
    float: right;
    font-size: 30px;
    background-color: rgb(10, 43, 53);
    color:rgb(130, 187, 130);
    transition-duration: 0.4s;
}
#signIn:hover {
    background-color: rgb(130, 187, 130);
    color: rgb(10, 43, 53);
}

button {
    margin: 10px;
    width: 200px;
    font-family: 'Germania One', serif;
    font-size: 55px;
    background-color: rgb(10, 43, 53);
    color: rgb(73, 77, 83);
    border-radius: 12px;
}

button:hover {
    background-color: rgb(73, 77, 83);
    color: rgb(170, 184, 189);
}