.jumbotron {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRVPdhmItD9stTOba9x0UmiL-yCoZQ1227Qdrk5kZ_e0xMEKLMJ&usqp=CAU");
    color: ghostwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;

}

body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&w=1000&q=80");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #maintainer > .list-unstyled > .media #book_image {
    size: 30px;
  }