{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <title>welcome</title>
</head>
<body>
    <header>
        <a href="http://localhost:8000">
            <h2>To-do List</h2>
            <h4>(Get organized. Get shit done.)</h4>
        </a>
    </header>

    {% block content %}
    {% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>