[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
pyyaml = "*"
pythondateutil = "*"
jinja2 = "*"
numpy = "*"
packaging = "*"
tornado = "*"
typing-extensions = "*"
python-dateutil = "*"
bokeh = "*"

[requires]
python_version = "3.8"
