{% extends 'base.html' %}

{% block content %}


<div class="container" id="choice">
    <h1>IRON ENCLAVE</h1>

    <form id="signInForm" action="signin">
        <button type="submit" id="signIn">Sign-In</button>
    </form>
</div>


<div class="container" id="sidenav">
    <ul id="navUL" class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Forum</a>
        </li>
    </ul>
</div>


{% endblock %}