{% extends 'base.html' %}

{% block content %}


<div class="container" id="choice">
    <h1>IRON ENCLAVE</h1>

    <form id="signInForm" action="http://localhost:8000/iEaccounts/login/">
        <button type="submit" id="signIn">Sign-In</button>
    </form>
</div>


<div class="container" id="sidenav">
    <ul id="navUL" class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="http://localhost:8000/resources/">Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Forum</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="http://localhost:8000/iEaccounts/profile/">My Profile</a>
        </li>
        {% endif %}
    </ul>
</div>


{% endblock %}