{% extends 'base.html' %}

{% block content %}


<div class="container" id="choice">
 
    <h1>IRON ENCLAVE</h1>
    <form id="signInForm" action="signin">
        <button type="submit" id="signIn">Sign-In</button>
    </form>
    <form action="http://localhost:8000/home/">
        <button type="submit">Visit<br/>the<br/>Enclave</button>
    </form>
    <form action="http://localhost:8000/iEaccounts/register/">
        <button type="submit">Join<br/>the<br/>Enclave</button>
    </form>
</div>

{% endblock %}