{% extends 'base.html' %}

{% block content %}


<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container" id="choice">
      <h1><a href="http://localhost:8000/home/">IRON ENCLAVE</a></h1>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" id="darkNav">
    <a class="navbar-brand" href="http://localhost:8000/home/">IE Home</a>
    {% if user.is_authenticated %}
    <form action="{% url 'iEaccounts:logout' %}">
        {% csrf_token %}
        <button type="submit" id="logOut">Log-Out</button>
    </form>
    {% else %}
    <form id="signInForm" action="{% url 'iEaccounts:login_page' %}" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <button type="submit" id="signIn">Sign-In</button>
    </form>
    {% endif %}
  </nav>


<div class="container" id="resDropdowns">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tutorials
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="https://youtu.be/wYREQkVtvEc">How to Deadlift</a>
        <a class="dropdown-item" href="https://youtu.be/nhoikoUEI8U">How to Squat</a>
        <a class="dropdown-item" href="https://youtu.be/eNFXEEdfQp4">How to Overhead Press</a>
        <a class="dropdown-item" href="https://youtu.be/rxD321l2svE">How to Bench Press</a>
        <a class="dropdown-item" href="https://youtu.be/RQU8wZPbioA">How to Barbell Row</a>
        <a class="dropdown-item" href="https://youtu.be/fsEvA5cCrrU">How to Power Clean</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Books
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="https://jimwendler.com/collections/books-programs/products/5-3-1-second-edition-hard-copy">5/3/1</a>
        <a class="dropdown-item" href="https://aasgaardco.com/store/books-posters-dvd/books/starting-strength-basic-barbell-training/">Starting Strength</a>
        <a class="dropdown-item" href="https://aasgaardco.com/store/books-posters-dvd/books/practical-programming-for-strength-training/">Practical Programming For Strength Training</a>
        <a class="dropdown-item" href="https://www.amazon.com/Becoming-Supple-Leopard-2nd-Performance/dp/1628600837">Becoming a Supple Leopard</a>
        <a class="dropdown-item" href="https://www.amazon.com/Nutrition-Health-Fitness-Melvin-Williams/dp/0078021359/ref=sr_1_2?dchild=1&keywords=Nutrition+for+health+fitness+and+sport&qid=1591928315&s=books&sr=1-2">Nutrition for Health, Fitness and Sport</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Articles
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Podcasts
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="http://www.ironradio.org/Contrib_Readings.htm">Iron Radio</a>
        <a class="dropdown-item" href="https://podcasts.apple.com/us/podcast/50-facts/id710541646">50% Facts</a>
        <a class="dropdown-item" href="https://startingstrength.com/video/podcast">Starting Strength Podcast</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Equipment
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Coaching
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
    </div>
</div>

{% endblock %}