{% extends 'base.html' %}

{% block content %}


<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container" id="choice">
      <h1><a href="http://localhost:8000/home/">IRON ENCLAVE</a></h1>
      <h3 style="text-align: center">Resources</h3>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark" id="darkNav">
    <a class="navbar-brand" href="http://localhost:8000/home/" id="homeTag">IE Home</a>
    {% if user.is_authenticated %}
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
                <a href="{% url 'iEaccounts:logout' %}" class="nav-link" type="submit" id="logOut">Log-Out</a>
        </li>
    </ul>

    {% else %}
    <ul class="navbar-nav navbar-right">
        <li class="nav-item float-right">
            <a href="{% url 'iEaccounts:login_page' %}" class="nav-link" type="submit" id="signIn">Sign-In</a>
        </li>
    </ul>
    {% endif %}
</nav>

<div class="container" id="resDropdowns">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tutorials
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="https://youtu.be/wYREQkVtvEc">How to Deadlift</a>
        <a class="dropdown-item" href="https://youtu.be/nhoikoUEI8U">How to Squat</a>
        <a class="dropdown-item" href="https://youtu.be/eNFXEEdfQp4">How to Overhead Press</a>
        <a class="dropdown-item" href="https://youtu.be/rxD321l2svE">How to Bench Press</a>
        <a class="dropdown-item" href="https://youtu.be/RQU8wZPbioA">How to Barbell Row</a>
        <a class="dropdown-item" href="https://youtu.be/fsEvA5cCrrU">How to Power Clean</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Books
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="https://jimwendler.com/collections/books-programs/products/5-3-1-second-edition-hard-copy">5/3/1</a>
        <a class="dropdown-item" href="https://aasgaardco.com/store/books-posters-dvd/books/starting-strength-basic-barbell-training/">Starting Strength</a>
        <a class="dropdown-item" href="https://aasgaardco.com/store/books-posters-dvd/books/practical-programming-for-strength-training/">Practical Programming For Strength Training</a>
        <a class="dropdown-item" href="https://www.amazon.com/Becoming-Supple-Leopard-2nd-Performance/dp/1628600837">Becoming a Supple Leopard</a>
        <a class="dropdown-item" href="https://www.amazon.com/Nutrition-Health-Fitness-Melvin-Williams/dp/0078021359/ref=sr_1_2?dchild=1&keywords=Nutrition+for+health+fitness+and+sport&qid=1591928315&s=books&sr=1-2">Nutrition for Health, Fitness and Sport</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Articles
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="http://www.ironradio.org/Written_Articles.htm">Iron Radio Articles</a>
        <a class="dropdown-item" href="https://scholar.google.com/citations?user=ReXrc5cAAAAJ&hl=en&oi=ao">Schoenfeld(Hypertrophy Expert)</a>
        <a class="dropdown-item" href="https://www.t-nation.com/all-articles">T-Nation Articles</a>
        <a class="dropdown-item" href="https://www.strongerbyscience.com/articles/">Stronger by Science Articles</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Podcasts
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="http://www.ironradio.org/Contrib_Readings.htm">Iron Radio</a>
        <a class="dropdown-item" href="https://podcasts.apple.com/us/podcast/50-facts/id710541646">50% Facts</a>
        <a class="dropdown-item" href="https://startingstrength.com/video/podcast">Starting Strength Podcast</a>
        <a class="dropdown-item" href="https://ironculture.libsyn.com/">Iron Culture</a>
        <a class="dropdown-item" href="https://www.sbspod.com/">Stronger by Science Podcast</a>
        <a class="dropdown-item" href="https://kabukistrength.com/strength-chat/">Strength Chat by Kabuki Strength</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Equipment
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="https://www.repfitness.com/">Rep Fitness: Power Racks and Weights</a>
        <a class="dropdown-item" href="https://www.strengthshopusa.com/">Strength Shop: Belts, Singlets, Wraps and Sleeves</a>
        <a class="dropdown-item" href="https://www.roguefitness.com/">Rogue Fitness: Power Racks and Weights</a>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Coaching
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="https://startingstrengthonlinecoaching.com/">Starting Strength</a>
        <a class="dropdown-item" href="https://barbell-logic.com/online-coaching/">Barbell Logic</a>
        <a class="dropdown-item" href="https://store.kabukistrength.net/products/virtual-coaching-by-kabuki-strength?cmp_id=8712005694&adg_id=102950096327&kwd=&device=c&gclid=CjwKCAjwrvv3BRAJEiwAhwOdMy1hdYBNGgTaz_WdTh8c2qEArHbekUw4ayIOii9J3fgGgosr8dAUlRoCaRwQAvD_BwE">Kabuki Strength</a>
        <a class="dropdown-item" href="https://www.jtsstrength.com/online-coaching/?v=7516fd43adaa">Juggernaut Training Systems</a>
        </div>
    </div>
</div>

{% endblock %}