{% extends 'base.html' %}

{% block content %}

<h1 id="Banner">IRON ENCLAVE</h1>

<form action="{% url 'iEaccounts:logout' %}">
  <button type="submit" id="logOut">Log-Out</button>
</form>

<div id="profile" class="container">
  <img src="{{ prof_mod.profile_img.url }}" width="200px">
  <h1>Name: {{ prof_mod.first_name }} {{ prof_mod.last_name }}</h1>
  <h1>Age: {{ prof_mod.age }}</h1>
  <h1>Bio: {{ prof_mod.bio }}</h1>
  <h1>Gender: {{ prof_mod.gender }}</h1>
  <h1>Weight Class: {{ prof_mod.weight_class }}</h1>
  <h1>Graph: {{ graph_mod }}</h1>
  <canvas id="myChart" width="400" height="250"></canvas>
</div>

<!-- {% for book in borrowed_books %}
<li>{{ book.title }}</li>
{% endfor %} -->

<form action="{% url 'iEaccounts:update_profile' user.id %}">
  <button type="submit" id="updateProf">Update My Profile</button>
</form>

{% endblock %}

<form id="signInForm" action="{% url 'iEaccounts:login_page' %}">
  <button type="submit" id="signIn">Sign-In</button>
</form>