{% extends 'base.html' %}

{% block content %}

<form action="{% url 'iEaccounts:update_profile' user.id %}" method="POST">
    {% csrf_token %}
    <div>
        <div>
            <label for="inputFname">First Name:</label>
            <input type="text" class="form-control" id="inputFname" name="first_name">
        </div>
        <div>
            <label for="inputLname">Last Name:</label>
            <input type="text" class="form-control" id="inputLname" name="last_name">
        </div>
        <div>
            <label for="inputAge">Age:</label>
            <input type="text" class="form-control" id="inputAge" name="age">
        </div>
        <div>
            <label for="inputImg">Profile Image:</label>
            <input type="file" class="form-control" id="inputImg" name="profile_image">
        </div>
        <div>
            <label for="inputBio">Bio:</label>
            <input type="text" class="form-control" id="inputBio" name="bio">
        </div>
        <div>
            <label for="inputGender">Gender:</label>
            <input type="text" class="form-control" id="inputGender" name="gender">
        </div>
        <div>
            <select name="weight_class" id="weightClass">
              <option value="{{ profile.weight_class_choices[0] }}">43kg/94lbs</option>
              <option value="{{ profile.weight_class_choices[1] }}">47kg/103lbs</option>
              <option value="{{ profile.weight_class_choices[2] }}">52kg/114lbs</option>
              <option value="{{ profile.weight_class_choices[3] }}">53kg/116lbs</option>
              <option value="{{ profile.weight_class_choices[4] }}">57kg/125lbs</option>
              <option value="{{ profile.weight_class_choices[5] }}">59kg/130lbs</option>
              <option value="{{ profile.weight_class_choices[6] }}">63kg/138lbs</option>
              <option value="{{ profile.weight_class_choices[7] }}">66kg/145lbs</option>
              <option value="{{ profile.weight_class_choices[8] }}">72kg/158lbs</option>
              <option value="{{ profile.weight_class_choices[9] }}">74kg/163lbs</option>
              <option value="{{ profile.weight_class_choices[10] }}">83kg/182lbs</option>
              <option value="{{ profile.weight_class_choices[11] }}">84kg/185lbs</option>
              <option value="{{ profile.weight_class_choices[12] }}">84kg+/185lbs+</option>
              <option value="{{ profile.weight_class_choices[13] }}">93kg/205lbs</option>
              <option value="{{ profile.weight_class_choices[14] }}">105kg/231lbs</option>
              <option value="{{ profile.weight_class_choices[15] }}">120kg/264lbs</option>
              <option value="{{ profile.weight_class_choices[16] }}">120kg+/264lbs+</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save Changes</button>
</form>

<button>
    <a href="http://localhost:8000/iEaccounts/profile/">Return to my Profile</a>
</button>


{% endblock %}
