{% extends 'base.html' %}

{% block content %}
    <h2>{{todo_item.task_description}}</h2>
        <p>added: {{ todo_item.created_date }}</p>
    
    <form method = "GET" action = "http://localhost:8000/todo_app/update/{{ todo_item.id }}">
        {% csrf_token %}
        <button type = "submit">Update Task</button>
    </form>

    <form method = "POST" action = "http://localhost:8000/todo_app/remove/{{ todo_item.id }}"> 
        {% csrf_token %}
        <button type = "submit">Remove</button>
    </form>

{% endblock %}