h1 a {
    font-family: 'Impact', Haettenschweiler, Arial Narrow Bold, sans-serif;
    color: lightgreen;
    background-color: green;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}

button {
    color: green;
    background-color: lightgreen;
    margin-block-start: 10px;
    border-radius: 6px;
}