body {
    background-image: url(https://wallpaperaccess.com/full/1903844.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#choice h1 {
    font-family: 'Germania One', serif;
    color: whitesmoke;
    font-size: 150px;
    align-self: center;
    margin-left: 80px;
}

#choice h2 {
    font-family: 'Germania One', serif;
    color:rgb(130, 187, 130);
    font-size: 100px;
    align-self: center;
}

#choice h3 {
    font-family: 'Germania One', serif;
    color: rgb(211, 203, 203);
    font-size: 30px;
    align-items: center;
}

#choice h1 a {
    color: whitesmoke;
    transition-duration: 0.4s;
}

#choice h1 a:hover {
    color: rgb(130, 187, 130);
    text-decoration: none;
}

#choice {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
}

#signIn {
    align-self: flex-end;
    margin-left: 30px;
    margin-right: 200px;
    font-size: 30px;
    width:120px;
    background-color: rgb(10, 43, 53);
    color:rgb(130, 187, 130);
    transition-duration: 0.4s;
}
#signIn:hover {
    background-color: rgb(130, 187, 130);
    color: whitesmoke;
}

button {
    margin: 10px;
    width: 200px;
    font-family: 'Germania One', serif;
    font-size: 55px;
    background-color: rgb(10, 43, 53);
    color: rgb(73, 77, 83);
    border-radius: 12px;
}

button:hover {
    background-image: url(https://media.giphy.com/media/Ta1MVGKCG2GFq/200.gif);
    color: rgb(170, 184, 189);
}

#sidenav {
    display: flex;
    flex-direction: column;
    font-family: 'Germania One', serif;
    font-size: 50px;
    margin: 10px;
    color: rgb(118, 148, 173);
}

#resDropdowns {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 12px;
    background-color: rgb(11, 22, 22);
}

#resDropdowns {

}

#SignInForm {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: 60px;
}

#Banner {
    font-family: 'Germania One', serif;
    color: whitesmoke;
    font-size: 150px;
    text-align: center;
}

#RegistrationForm {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: 30px;
    font-size: 20px;
}

#profile h1 {
    color: thistle;
}

.canvas {
    background-color: whitesmoke;
}