body {
    background-image: url(https://wallpaperaccess.com/full/1903844.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/531304.jpg);
    margin-bottom: 0px;
}

#jumbo div h3 {
    margin-left: 200px;
    margin-right: 200px;
}

#darkNav {
    margin: 0px;
    padding: 0px;
    font-family: 'Germania One', serif;
    font-size: 30px;
}

#darkNav #homeTag {
    font-size: 30px;
    margin-left: 30px;
}

#darkNav ul li {
    margin-right: 30px;
}

/* Landing Page */

#choice form #homebutton {
    margin: 100px;
    align-self: center;
}

#choice form #registerbutton {
    margin: 100px;
    align-self: flex-end;
    flex-grow: 1;
}
#choice h1 {
    font-family: 'Germania One', serif;
    color: whitesmoke;
    font-size: 150px;
    align-self: center;
    margin-left: 0px;
}

#choice h2 {
    font-family: 'Germania One', serif;
    color:rgb(130, 187, 130);
    font-size: 100px;
    align-self: center;
}

#choice h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(211, 203, 203);
    font-size: 40px;
    margin-left: 0px;
}

#choice h1 a {
    color: whitesmoke;
    transition-duration: 0.4s;
}

#choice h1 a:hover {
    color: rgb(130, 187, 130);
    text-decoration: none;
}

#choice {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: space-around;
}

button {
    margin: 0px;
    width: 200px;
    font-family: 'Germania One', serif;
    font-size: 55px;
    background-color: rgb(10, 43, 53);
    color: rgb(73, 77, 83);
    border-radius: 12px;
}

button:hover {
    background-image: url(https://media.giphy.com/media/Ta1MVGKCG2GFq/200.gif);
    color: rgb(170, 184, 189);
}

#resDropdowns .dropdown-item{
    width: 100%;
    text-align: center;
}

#resDropdowns button {
    margin: 20px;
    width: 200px;
    font-family: 'Germania One', serif;
    font-size: 55px;
    background-color: rgb(10, 43, 53);
    color: rgb(73, 77, 83);
    border-radius: 12px;
}

#resDropdowns button:hover {
    background-image: url(https://media.giphy.com/media/Ta1MVGKCG2GFq/200.gif);
    color: rgb(170, 184, 189);
}

#resDropdowns .dropdown-menu {
    width: 92%;
}

#sidenav {
    display: flex;
    flex-direction: column;
    font-family: 'Germania One', serif;
    font-size: 50px;
    margin: 10px;
    color: rgb(118, 148, 173);
}

#resDropdowns {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 12px;
    background-color: rgb(11, 22, 22);
}

#resDropdowns {

}

#SignInForm {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: 60px;
}

#Banner {
    font-family: 'Germania One', serif;
    color: whitesmoke;
    font-size: 150px;
    text-align: center;
}

#RegistrationForm {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: 30px;
    font-size: 20px;
}

#profile {
    margin: 20px;
}

#profile #profile_card {
    background-color: tomato;
}

#profile #profile_img {
    border-radius: 75px;
}

#profile h1 {
    color: thistle;
}

.canvas {
    background-color: whitesmoke;
}

form #updateProf {
    font-family: 'Germania One', serif;
    font-size: 30px;
    margin: 60px;
}

#updateProForm {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-top: 60px;
    margin-right: 50px;
}

#updateProForm button {
    align-self: flex-end;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

#updateProForm label {
    color: whitesmoke;
}

#returnToProfbtn {
    margin: 100px;
    font-size: 20px;
    float: right;
}