body {
    background-image: url(https://wallpaperaccess.com/full/1903844.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#choice h1 {
    font-family: 'Germania One', serif;
    color: whitesmoke;
    font-size: 150px;
    align-self: center;
    margin-left: 80px;
}

#choice {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
}

#signIn {
    align-self: flex-end;
    font-size: 30px;
    width:120px;
    background-color: rgb(10, 43, 53);
    color:rgb(130, 187, 130);
    transition-duration: 0.4s;
}
#signIn:hover {
    background-color: rgb(130, 187, 130);
    color: rgb(10, 43, 53);
}

button {
    margin: 10px;
    width: 200px;
    font-family: 'Germania One', serif;
    font-size: 55px;
    background-color: rgb(10, 43, 53);
    color: rgb(73, 77, 83);
    border-radius: 12px;
}

button:hover {
    background-color: rgb(73, 77, 83);
    color: rgb(170, 184, 189);
}

#sidenav {
    display: flex;
    flex-direction: column;
    font-family: 'Germania One', serif;
    font-size: 50px;
    margin: 10px;
    color: rgb(118, 148, 173);
    background-color: chartreuse;
}
